
  body {
      margin: 0;
background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v748-toon-13_1_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=e42eb60525bc4cfddb751f4729bef54a);  
justify-content: center;
}
#container{
margin:5% auto;
margin-top: 4%;
    width:40%;
display: grid;
grid-template-areas: 
                    "rock rock rock rock rock"
                     "spock spock result paper paper"
                     "lizard lizard . scissors scissors";

text-align: center;
justify-items: center;
align-items: center;
 }

.choice{
    max-width:150px;
}
#rock{
    grid-area: rock;
}
#paper{
    grid-area:paper;
    justify-self: center;
}
#spock{
    grid-area: spock;
    justify-self: center;
}

#lizard{
    grid-area: lizard;
justify-self: end;}
#scissors{
    grid-area: scissors;
    justify-self: start;
}
header{
   display: flex; 
justify-content: center;}
#result{
    font-size: 1.5em;
    width:100px;
    grid-area: result;
}
#score{
    background-color: white;
    width:30%;
    height: 1.5em;
    text-align: center;
    font-size: 2em;
    margin-top:20px;
}
#playerChoiceimg, #pcChoiceimg{
    max-width:100px;
}

#start{
display: block;  
  width:150px;
    margin:20px auto;
}
#rules{
    position: absolute;
    font-size: 2vw;
    left:0;
    width:400px;
    border: solid 2px gray;
}
@media (max-width:600px){
    .choice{
        max-width:70px;
    }
    #rules{
        visibility: hidden;
    }
    #container{
        width:70%;
    }
    #playerChoiceimg, #pcChoiceimg{
        max-width:60px;
        margin-top:15px;
    }
    
}